<p id="notice"><%= notice %></p>


<p>
  <strong>Video:</strong>
  <%= @course_attachment.video %>
</p>

<%= link_to 'Edit', edit_course_attachment_path(@course_attachment) %> |
<%= link_to 'Back', course_attachments_path %>
